<div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

      <ul id="menu-content" class="menu-content collapse out">
        <li>
          <a>
            <i class="fa fa-dashboard fa-lg"></i> Dashboard
          </a>
        </li>

        <li data-toggle="collapse" data-target="#episode" class="collapsed active">
          <a >
            <i class="fa fa-gift fa-lg"></i> UI Elements
            <span class="arrow"></span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="episode">
          <li class="active">
            <a href="#">List Episodes</a>
          </li>
          <li>
            <a href="#">Add Episode</a>
          </li>
          <li>
            <a href="#">Others</a>
          </li>
        </ul>


        
        <li>
          <a href="#">
            <i class="fa fa-users fa-lg"></i> Users
          </a>
        </li>
      </ul>
    </div>
  </div>
