<input type="hidden" id="resultDelete" onclick='ToastDelete()'>
<!-- The actual snackbar -->
<div id="snackbar">Some text some message..</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genres</th>
      <th>Description</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ep of episode$">  
      
      <td>{{ep.title}}</td>
      <td>{{ep.genres}}</td>
      <td>{{ep.description}}</td>
      <td>{{ep.status}}</td>
      <td>
        <button class="btn btn-primary btn-xs" data-title="Edit" [routerLink]="['/episode/edit']" [queryParams]="{ _id: ep._id }">
        <i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button class="btn btn-danger btn-xs" data-title="Delete" (click)='Delete(ep._id)'>
        <i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
   
  </tbody>
</table>