<html>

<head>
  <title>Add Page</title>
  <%- include ../partials/head.ejs  %>
</head>

<body>
    <%- include ../panel.ejs  %>
      <div class="left-panel">
        <h1>hakdjlkfjasdlkfj</h1>
      </div>





</body>

</html>