<input type="hidden" id="resultDelete" onclick='ToastDelete()'>
<!-- The actual snackbar -->
<div id="snackbar">Some text some message..</div>



<app-genre-add [genre]="genre" (save)="Save($event)"></app-genre-add>
<div class="genre-container">
  <button class="btn btn-info" (click)="openAdd()">Add</button>
  <mat-table  [dataSource]="genre$">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <ng-container matColumnDef="Tag">
      <mat-header-cell *matHeaderCellDef> Tag </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Tag}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="coverImage">
      <mat-header-cell *matHeaderCellDef> Cover Image </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.coverImage}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button class="btn btn-danger btn-xs" data-title="Delete" (click)='Delete(element._id)'>
          <i class="far fa-trash-alt"></i>
        </button>
      </mat-cell>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">

        <mat-form-field>
          <input matInput placeholder="Tag" [(ngModel)]="detail.element.Tag">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Cover Image" [(ngModel)]="detail.element.coverImage">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Description" [(ngModel)]="detail.element.Description">
        </mat-form-field>

        <button mat-button color="warn" (click)="Update( detail.element._id ,detail.element)">
          <i class="fas fa-edit"></i> Save</button>




      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row"
      (click)="expandedElement = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
      style="overflow: hidden">
    </mat-row>
  </mat-table>
</div>
<!-- <ul>
  <li *ngFor="let item of genre$">{{item._id}}</li>
</ul> -->

