<div class="nav-side-menu">
  <div class="brand"><img src="assets/images/icon.png"></div>
  
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a>
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>

      <li data-toggle="collapse" data-target="#episode" class="collapsed active">
        <a>
          <i class="fas fa-video fa-lg"></i> Episodes
          <span class=" fas fa-angle-down " style="padding: 1em; float: right;"></span>
          <!-- <span class=" arrow"></span> -->
        </a>
      </li>
      <ul class="sub-menu collapse" id="episode">
        <li  [routerLink]="['/episode']"  routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
          List Episodes
        </li>
        <li [routerLink] ="['/episode/add']"  routerLinkActive='active'[routerLinkActiveOptions]="{exact: true}" >
         Add Episode
        </li>
        <li>
          <a href="#">Others</a>
        </li>
      </ul>



      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>
    </ul>
  </div>
</div>