.mk-card {
  width: 400px;
  margin: 1em;
  word-wrap: break-word;

  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.mk-card-content{
  max-height: 12em;
    overflow: hidden;

}
.img-fluid{
  max-width: 100%;
    height: 18rem;
    width: 100%;
}
.pagination{
  justify-content: center;
}