
    <div *ngIf="genre" class="genre-add-container">
      <!-- TAG START -->

      <mat-form-field>
        <input matInput placeholder="Tag" [(ngModel)]="genre.Tag">
      </mat-form-field>
      <!-- TAG END -->
      <!-- COVER IMAGE START -->

      <mat-form-field>
        <input matInput placeholder="Cover Image" [(ngModel)]="genre.coverImage">
      </mat-form-field>
      <!-- COVER IMAGE END -->





      <!-- DESCRIPTION START -->

      <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="genre.Description"></textarea>
      </mat-form-field>
      <!-- DESCRIPTION END -->

      <button mat-button class="btn btn-info" (click) = "Save()">Save</button>
    </div>






    <!-- <div class="d-flex justify-content-between col-lg-6  offset-lg-2">
        <div class="p-1">
        </div>
        <div class="p-1">

          <button class="btn btn-info" (click)="Save()">
            <i class="fas fa-save"></i> Save</button>
          <button class="btn btn-info" (click)="removeAll()">
            <i class="fas fa-trash"></i> Reset</button>
        </div>
        <div class="p-1">
        </div>
      </div> -->

