<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" 
    [routerLink]="['/']"
     routerLinkActive='active' 
     [routerLinkActiveOptions]="{exact: true}">MK Anime</a>
  </logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/exapi']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">News
          
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Other</a>
      </li>

      <!-- Dropdown -->

    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!-- epsidoes start -->
      <li *ngIf="authService.loggedIn()" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
      <i class="fa fa-film" aria-hidden="true"></i>
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/episode']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
            >
             Episodes</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/episode/add']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
            >
             Add Episode
          </a>

        </div>
      </li>
      <!-- epsidoes end -->
      <!-- genres start -->
      <li *ngIf="authService.loggedIn()" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fa fa-video-camera" aria-hidden="true"></i>
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/genre']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
            Genres</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
            Others
          </a>
      
        </div>
      </li>
      <!-- genres end -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fa fa-user"></i>
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/login']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
            *ngIf="!authService.loggedIn()">
            Login</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/register']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
            *ngIf="!authService.loggedIn()">
            Register
          </a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/profile']" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
            *ngIf="authService.loggedIn()">
            Profile
          </a>


          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()" *ngIf="authService.loggedIn()">
            Log out
          </a>
        </div>
      </li>
    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</div>