<div class="">
<form (submit)="register()"  class="form-horizontal ">
  <fieldset class="col-lg-4 offset-lg-4">

    <!-- Form Name -->
    <legend>Register</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class=" control-label" for="textinput">User Name</label>
      <div class="">
        <input class="textinput" name="userName" [(ngModel)] = "user$.userName" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>  

    <!-- Text input-->
    <!-- <div class="form-group">
      <label class=" control-label" for="textinput">Full Name</label>
      <div class="">
        <input class="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div> -->

    <!-- Text input-->
    <div class="form-group">
      <label class=" control-label" for="email">E-mail</label>
      <div class="">
        <input class="email" name="Email" [(ngModel)] = "user$.Email" type="text" placeholder="john.smith@mail.com" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class=" control-label" for="passwordinput">Password</label>
      <div class="">
        <input class="v" name="Password" type="password" [(ngModel)] = "user$.Password" placeholder="" class="form-control input-md"
          required="">

      </div>
    </div>

    <div class="form-group">
      <div class="">
        <input type="submit" class="btn btn-primary" value="Register"/>
      </div>
    </div>

  </fieldset>
</form>
</div>