<div class="row">
  <!--Card-->
  <div class="card mk-card col-lg-2 col-md-3 col-sm-6 p-0" *ngFor="let episode of episode$">

    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbWavesEffect>
      <img src="{{episode.coverImage}}" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
      <a>
        <div class="mask">
          <button type="button" class="btn btn-info px-3 rounded-circle" (click)="basicModal.show();showInfo(episode)" style="float: right;">
            <i class="fa fa-info-circle"></i>
          </button>
        </div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h5 class="card-title">{{episode.title}}</h5>
      <!--Text-->
      <!-- <p class="card-text mk-card-content">{{episode.description}}</p> -->

    </div>

  </div>
  <!--/.Card-->
  

</div>
<button type="button" class="btn btn-default btn-lg btn-block waves-light" mdbWavesEffect (click)="loadMore()">Load More</button>

<div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">{{Info.title}}</h4>
      </div>
      <div class="modal-body">
        {{Info.description}}
      </div>
      <div class="modal-footer">
        <mat-chip-list class="mat-chip-list">
          <mat-chip *ngFor="let genre of Info.genres" selected [color]="primary">
            {{genre}}
          </mat-chip>
        </mat-chip-list>
        <!-- <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button> -->
        <!-- <button type="button" class="btn btn-primary relative waves-light" mdbWavesEffect>Save changes</button> -->
      </div>
    </div>
  </div>
</div>