<div class="container-fluid">
  <input type="hidden" id="result" onclick='Toast()'>
  <!-- The actual snackbar -->
  <div id="snackbar">Some text some message..</div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- TITLE START -->
        <div class="form-group multiple-form-group input-group col-lg-6  offset-lg-2 ">

          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-dot-circle"> Title</i>
            </span>
          </div>
          <input type="text" [(ngModel)]="episode$.title" class="form-control" placeholder="Title">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-link"></i>
            </span>
          </div>
        </div>
        <!-- TITLE END -->
        <!-- COVER IMAGE START -->
        <div class="form-group multiple-form-group input-group col-lg-6  offset-lg-2">

          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-image"> Cover Image</i>
            </span>
          </div>
          <input type="text" [(ngModel)]="episode$.coverImage" class="form-control" placeholder="Cover Image">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-link"></i>
            </span>
          </div>
        </div>
        <!-- COVER IMAGE END -->
        <!-- STATUS START -->

        <div class="input-group mb-3  col-lg-6  offset-lg-2">
          <div class="input-group-prepend ">
            <span class="input-group-text">
              <i class="fas fa-image"> Completed</i>
            </span>
          </div>
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" [(ngModel)]="episode$.status">
            </div>
          </div>

        </div>
        <!-- STATUS END -->




        <!-- DESCRIPTION START -->
        <div class="form-group multiple-form-group input-group col-lg-6  offset-lg-2">

          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-comment-dots"> Description</i>
            </span>
          </div>
          <textarea rows="2" [(ngModel)]="episode$.description" class="form-control" placeholder="Description"></textarea>
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-link"></i>
            </span>
          </div>
        </div>
        <!-- DESCRIPTION END -->
      </div>


      <!-- GENRES START -->
      <!-- <div class="d-flex justify-content-between col-lg-6  offset-lg-2">
        <div class="p-1">
        </div>
        <div class="p-1">
          <button type="button" class="btn btn-success" (click)="addGenre()">
            <i class="fas fa-plus"></i> Tag
          </button>
        </div>
        <div class="p-1">
        </div>
      </div>
      <div *ngFor='let link of episode$.genres;let i=index;trackBy:indexTracker' class="form-group multiple-form-group input-group col-lg-6  offset-lg-2">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-tag"></i>
          </span>
        </div>
        <input type="text" [(ngModel)]="episode$.genres[i]" class="form-control" placeholder="Tag">
        <span class="input-group-append">
          <button type="button" class="btn btn-danger" (click)="removeGenre(i)">
            <i class="fas fa-minus-circle"></i>
          </button>
        </span>
      </div> -->

      <!-- GENRES END -->

      <!-- GENRES START -->
      <div class="d-flex justify-content-between col-lg-6  offset-lg-2">
        
        <mat-form-field class="input-full-width">
          <mat-select  placeholder="Genres"  [(ngModel)] = "episode$.genres" multiple>
            <mat-option *ngFor="let genre of genres$" [value]="genre" >{{genre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- GENRES END -->

      <!-- EPISODES START -->
      <div class="d-flex justify-content-between col-lg-6  offset-lg-2">
        <div class="p-1">
        </div>
        <div class="p-1">
          <button type="button" class="btn btn-success" (click)="addEpisode()">
            <i class="fas fa-plus"></i> Link
          </button>
        </div>
        <div class="p-1">
        </div>
      </div>
      <div *ngFor='let link of episode$.episodes;let i=index;trackBy:indexTracker' class="form-group multiple-form-group input-group col-lg-6  offset-lg-2">

        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-video"></i>
          </span>
        </div>
        <input type="text" [(ngModel)]="episode$.episodes[i].title" class="form-control" placeholder="Title">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-link"></i>
          </span>
        </div>

        <input type="text" [(ngModel)]="episode$.episodes[i].url" class="form-control" placeholder="Link">
        <span class="input-group-append">
          <button type="button" class="btn btn-danger" (click)="removeEpisode(i)">
            <i class="fas fa-minus-circle"></i>
          </button>
        </span>
      </div>

      <!-- EPISODES END -->



      <div class="d-flex justify-content-between col-lg-6  offset-lg-2">
        <div class="p-1">
        </div>
        <div class="p-1">

          <button class="btn btn-info" (click)="Save()">
            <i class="fas fa-save"></i> Save</button>
          <button class="btn btn-info" (click)="removeAll()">
            <i class="fas fa-trash"></i> Reset</button>
        </div>
        <div class="p-1">
        </div>
      </div>


    </div>
  </div>
</div>